
.author {
    font-weight: bold;
}

.blue {
    background-color:#add8e6;
}

.box-3 {
    min-height: 100vh;
    margin: 20px 20px 20px 20px;
    padding: 20px;   
}

.button-1 {
    border:none;
    display: block;
    letter-spacing: 2;
    margin:0 auto;
    margin-top:15px;
    padding:5px;
    width: 100%;
}

.date {
    color:gray
}

.eggwhite {
    background-color: azure;
}

.email {
    margin-top: 35px;
    margin-left: 15px;
    font-size: 14px;
    padding: 25px;
    padding-right: 10px;
    overflow:hidden;

}

.from {
    margin-bottom: 10px;
    font-weight: bold;
}

.inbox {
    font-weight:bold;
}

.input {
    border: none;
    padding: 7px;
    width: 400px;
}

.left-container-options{
    margin-top: 100px;
    margin-left: 30px;
}

.message-content {
color:grey;
}

.open {
box-shadow: 20px 20px 50px grey;
background-color: #d2f1fc;
}

.overflow-elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reading {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-area {
    margin-top: 15px;
    margin-right: 10px;
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}


.welcome-line {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

.welcome-line h5 {
    color: white;
    font-size: 20px;
    padding-top: 10px;
}

.white {
    background-color: white;
}

